input {
    color: rgba(0,0,0,.87);
    outline-color: none;
    background-color: transparent;
    flex-grow: 1;
    height:100%;

    font-size: 15px;
}

input:focus {
    outline: none;
}

.voice {
    height:20px;
    margin: 0px 5px;
}

.search-icon {
    color: rgb(94, 94, 255);
    margin: 0px 5px;
}

.wrapper {
    width: 600px;
    height: 30px;
    padding: 2px;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
    outline-color: none;
    cursor: text;
    background-color: transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.wrapper:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}